<!--header-->
<div class="header">
  <!--navbar-->
  <header>
    <nav class="nav-wrapper transparent">
      <div class="container">
        <a href="" class="brand-logo"><img src="../assets/Logo/erised3.png" height="60px"></a>
        <a href="" class="sidenav-trigger" data-target="mobile-menu">
          <i class="material-icons">menu</i>
        </a>
        <ul class="right hide-on-med-and-down">
          <li><a href="#about">About</a></li>
          <li><a href="#services">Services</a></li>
          <li><a href="#team">Team</a></li>
          <li><a href="#contact">Contact</a></li>
          <li>
            <a href="" class="btn-floating btn-small pink">
              <i class="fab fa-instagram"></i>
            </a>
          </li>
          <li>
            <a href="" class="btn-floating btn-small blue darken-4">
              <i class="fab fa-facebook-f"></i>
            </a>
          </li>
          <li>
            <a href="" class="btn-floating btn-small indigo darken-4">
              <i class="fab fa-linkedin"></i>
            </a>
          </li>
        </ul>
        <ul class="sidenav grey lighten-2" id="mobile-menu">
          <li><a href="#about">About</a></li>
          <li><a href="#services">Services</a></li>
          <li><a href="#team">Team</a></li>
          <li><a href="#contact">Contact</a></li>
        </ul>
      </div>
      <div>
      </div>
    </nav>
    <p> <span>E</span>mpowering Future<br /><span>G</span>enerations To <span>C</span>ome</p>
  </header>
  <!-- navbar -->
</div>
<!--header-->

<body>
  <!--about-->
  <section id="about">
    <div class="container">
      <header class="section-header">
        <h3>Who are We?</h3>
        <p>
          Erised Works is an initiative founded by a group of undergraduates with the conjoint vision of empowering the
          future generations to come. Our company provides innovative software solutions for various real world problems
          out there. Our name sounds magical, we agree, but the solutions provided are not conjured with a magic spell.
          Instead dedication and proficiency are elements our company possesses to help bring to life the ingenious
          ideas that are cooked up.
          Erised is desire spelled backwards, and with this remarkable word as part of our name, we do not disappoint.
          Our team consists of 5 undergraduates from the University of Moratuwa, dedicated towards achieving the
          company’s goal together.
          “Share a Book”, a solution to a problem identified in the Educational field, is the ongoing project that is
          under Erised Works and is currently in the development phase. Our dream is to help more innovative ideas as
          such become reality and ensure a better future with ease and convenience to our beneficiaries.
        </p>
      </header>

      <div class="row about-cols">
        <div class="col-md-6">
          <div class="about-col">
            <div class="img">
              <img src="../assets/People/image1.jpg" alt="" class="img-fluid" />
              <div class="icon">
                <i class="fa fa-star"></i>
              </div>
            </div>
            <h2 class="title">Our Mission</h2>
            <p>
              Our mission is to be a software company that provides the most efficient and reliable software development
              solutions, mainly focusing on ensuring quality education for children in Sri Lanka.
            </p>
          </div>
        </div>
        <div class="col-md-6">
          <div class="about-col">
            <div class="img">
              <img src="../assets/People/k1.jpg" alt="" class="img-fluid" />
              <div class="icon"><i class="fa fa-trophy"></i></div>
            </div>
            <h2 class="title">Our Vision</h2>
            <p>
              To be a reliable stronghold that will empower the future generations to come.
              To be a reliable stronghold that will empower the future generations to come.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--Our Services-->
  <section class="services" id="services">
    <div class="container">
      <header class="section-header">
        <h3>Our Services</h3>
      </header>
    </div>
    <div class="service-head">
      <div class="service">
        <h4>Share a Book</h4>
        <p>A Platform through which users can buy , sell & exchange study materials <br />
          <!-- <i class="fa fa-graduation-cap" aria-hidden="true"></i> -->
          <span> Excited to know more about Share a Book?</span>
          <br />
        </p>
        <a href="#" data-toggle="modal" data-target="#myModal" class="agile-more">Click Here!</a>
      </div>
    </div>
    <!-- Tooltip -->
    <div class="modal fade service-modal" id="myModal" tabindex="1" role="dialog" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">Share a Book</h4>
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          </div>
          <div class="modal-body">
            <img src="../assets/People/k1.jpg" class="img-responsive" alt="image">
            <p>
              “Share a Book” is an online platform that is a solution to a problem that many students face. A typical
              O/L
              or A/L student comes across difficulties when it comes to finding proper study materials that they require
              to study for their exams. At times, the book they are looking for is not available in most bookshops or
              they
              simply do not have the time to go from bookstore to bookstore looking for a book, thanks to the hectic
              timetable of an average day in a student’s life. They have the need for not only textbooks but other rare
              materials such as old past papers and short notes of a peer, but they seldom find these materials. On the
              other hand, students who are already done with their exams will have a pile of books and other materials
              that they would love to give out. “Share a Book” bridges this gap.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="response section py-5" id="user">
      <div class="container">
        <div class="blog-grids py-3">
          <div class="row">
            <div class="col-md-6 col-sm-12">
              <div class="media response-info">
                <div class="media-body response-text-right">
                  <h4>Current Students</h4>
                  <p class="text-right-p">Are you looking for a book that you can’t seem to find anywhere? Let us help
                    you, we can look for it together. “Share a Book” provides you a wide range of resources that you
                    will not find anywhere as a whole bunch together. Browse through bookstore catalogues and search
                    through the bookracks of your peers. Still can’t find it? Don’t just leave, request for it here.
                    Let’s see if someone might have exactly what you need.</p>
                  <button type="button" class="btn usermodel1">
                    <a href="">Join With Us!</a>
                  </button>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-sm-12">
              <div class="media response-info m2">
                <div class="media-body response-text-right">

                  <h4>Past Students</h4>
                  <p class="text-right-p">Are you done with your exams and is now left with a pile of books and notes
                    and what not, that you no longer need? Don’t throw them away, let’s do the environment and your
                    younger brothers and sisters a favour and lend them out. Come join us and upload details about the
                    materials you have here so that another peer of yours who needs it could find it. Giving it for free
                    or for a decent price is your choice. How do you like the idea?</p>
                  <button type="button" class="btn usermodel1">
                    <a href="">Join With Us!</a>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class=" blog-grids py-3">
          <div class="row">
            <div class="col-md-6 col-12">
              <div class="media response-info">
                <div class="media-body response-text-right">
                  <h4>Bookstores</h4>
                  <p class="text-right-p">We provide you with a great opportunity to reap more sales by helping you
                    access a large customer base online. The process is simple. Upload your product catalogue (you won’t
                    have any worries because this is the most work you have to do as an initiative and for that too, we
                    will provide you with an easy, convenient and time saving procedure) onto our platform and
                    experience your sales go up when the right customers view your items and purchase them with ease.
                  </p>
                  <button type="button" class="btn usermodel1">
                    <a href="">Join With Us!</a>
                  </button>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-12">
              <div class="media response-info">
                <div class="media-body response-text-right">
                  <h4>Tuition Providers</h4>
                  <p class="text-right-p">Are you a small tuition providing entity or individual? If broadcasting
                    awareness regarding the service you provide is an issue, we are your solution. Advertise your
                    service through our platform and build awareness among a wider audience of students. Manifest
                    yourself by providing sample content that proves your calibre and legibility.</p>
                  <br /><br />
                  <button type="button" class="btn usermodel1">
                    <a href="">Join With Us!</a>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--Our Team-->
  <section id="team" class="team">
    <div class="container">
      <header class="section-header">
        <h3>Our Team</h3>
      </header>
    </div>
    <div class="teams py-5" id="client">
      <div class="w3-team banner-bottom py-5" id="team">
        <div class="container">
          <div class="w3ls_banner_bottom_grids">
            <div class="row">
              <div class="col-lg-4 col-md-6 col-sm-6 w3_agile_team_grid">
                <div class="w3layouts_team_grid">
                  <img src="../assets/Team/Dilini1.JPG" alt=" " class="img-fluid" />
                  <div class="w3layouts_team_grid_pos">
                    <div class="wthree_text">
                      <ul class="agileits_social_list">
                        <li><a href="#" class="agile_email"><i class="fas fa-envelope"></i></a></li>
                        <li><a href="#" class="agile_linkedin"><i class="fab fa-linkedin-in"></i></a></li>
                        <li><a href="#" class="agile_info" data-toggle="modal" data-target="#diliniModal"><i
                              class="fas fa-info"></i></a></li>
                      </ul>
                    </div>
                  </div>
                </div>
                <h4>Dilini Pieris </h4>
                <p class="team-text-p">Developer</p>
                <p class="team-text-p"></p>
              </div>
              <div class="col-lg-4 col-md-6 col-sm-6 w3_agile_team_grid">
              </div>
              <div class="col-lg-4 col-md-6 col-sm-6 w3_agile_team_grid">
                <div class="w3layouts_team_grid">
                  <img src="../assets/Team/nethmi3.JPG" alt=" " class="img-fluid" />
                  <div class="w3layouts_team_grid_pos">
                    <div class="wthree_text">
                      <ul class="agileits_social_list">
                        <li><a href="#" class="agile_email"><i class="fas fa-envelope"></i></a></li>
                        <li><a href="#" class="agile_linkedin"><i class="fab fa-linkedin-in"></i></a></li>
                        <li><a href="#" class="agile_info" data-toggle="modal" data-target="#nethmiModal"><i
                              class="fas fa-info"></i></a></li>
                      </ul>
                    </div>
                  </div>
                </div>
                <h4>Nethmi Wijesinghe</h4>
                <p class="team-text-p">Developer & Designer</p>
              </div>
              <div class="col-lg-4 col-md-6 col-sm-6 w3_agile_team_grid">
              </div>
              <div class="col-lg-4 col-md-6 col-sm-6 w3_agile_team_grid">
                <div class="w3layouts_team_grid">
                  <img src="../assets/Team/rashmi1.JPG" alt=" " class="img-fluid" />
                  <div class="w3layouts_team_grid_pos">
                    <div class="wthree_text">
                      <ul class="agileits_social_list">
                        <li><a href="#" class="agile_email"><i class="fas fa-envelope"></i></a></li>
                        <li><a href="#" class="agile_linkedin"><i class="fab fa-linkedin-in"></i></a></li>
                        <li><a href="#" class="agile_info" data-toggle="modal" data-target="#rashmiModal"><i
                              class="fas fa-info"></i></a></li>
                      </ul>
                    </div>
                  </div>
                </div>
                <h4>Rashmi Perera</h4>
                <p class="team-text-p">Hustler</p>
              </div>
              <div class="col-lg-4 col-md-6 col-sm-6 w3_agile_team_grid">
              </div>
              <div class="col-lg-4 col-md-6 col-sm-6 w3_agile_team_grid">
                <div class="w3layouts_team_grid">
                  <img src="../assets/Team/dilushi2.JPG" alt=" " class="img-fluid" />
                  <div class="w3layouts_team_grid_pos">
                    <div class="wthree_text">
                      <ul class="agileits_social_list">
                        <li><a href="#" class="agile_email"><i class="fas fa-envelope"></i></a></li>
                        <li><a href="#" class="agile_linkedin"><i class="fab fa-linkedin-in"></i></a></li>
                        <li><a href="#" class="agile_info" data-toggle="modal" data-target="#dilushiModal"><i
                              class="fas fa-info"></i></a></li>
                      </ul>
                    </div>
                  </div>
                </div>
                <h4>Dilushi Rathnayake</h4>
                <p class="team-text-p">Data Analyser</p>
              </div>
              <div class="col-lg-4 col-md-6 col-sm-6 w3_agile_team_grid">
              </div>
              <div class="col-lg-4 col-md-6 col-sm-6 w3_agile_team_grid">
                <div class="w3layouts_team_grid">
                  <img src="../assets/Team/nethmee1.JPG" alt=" " class="img-fluid" />
                  <div class="w3layouts_team_grid_pos">
                    <div class="wthree_text">
                      <ul class="agileits_social_list">
                        <li><a href="#" class="agile_email"><i class="fas fa-envelope"></i></a></li>
                        <li><a href="#" class="agile_linkedin"><i class="fab fa-linkedin-in"></i></a></li>
                        <li><a href="#" class="agile_info" data-toggle="modal" data-target="#nethmeeModal"><i
                              class="fas fa-info"></i></a></li>
                      </ul>
                    </div>
                  </div>
                </div>
                <h4>Nethmee Sellahewa</h4>
                <p class="team-text-p">Designer & Researcher</p>
              </div>

            </div>
            <div class="clearfix"> </div>
            <!-- Dilini Tooltip -->
            <div class="modal fade service-modal" id="diliniModal" tabindex="1" role="dialog" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h4 class="modal-title">Dilini Peiris</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                  </div>
                  <div class="modal-body">
                    <img src="../assets/Team/Dilini.jpg" class="img-responsive" alt="image">
                    <p>
                      The ultimate 'brains' of not only the team, but elsewhere too. Because she excels in her academics
                      and pretty much anything she studies. She is constantly our knowledge reserve and is a workaholic.
                      Always on point and up to standard with all the work she carries out. Also she is the incharge of
                      backend development of the projects carried out by the team.
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <!-- Nethmi Tooltip -->
            <div class="modal fade service-modal" id="nethmiModal" tabindex="1" role="dialog" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h4 class="modal-title">Nethmi Wijesinghe</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                  </div>
                  <div class="modal-body">
                    <img src="../assets/Team/Nethmi.jpg" class="img-responsive" alt="image">
                    <p>
                      Nethmi has a joyous soul and is the driving force behind the team, always hyping up and hustling
                      the members around to get the work done. Gifted with cool designing skills, she is often the pool
                      of design ideas. She often works towards uplifting the image of the team and the company. Also,
                      she is the incharge of frontend development of the projects carried out by the team.
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <!-- Rashmi Tooltip -->
            <div class="modal fade service-modal" id="rashmiModal" tabindex="1" role="dialog" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h4 class="modal-title">Rashmi Perera</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                  </div>
                  <div class="modal-body">
                    <img src="../assets/Team/Rashmi.jpg" class="img-responsive" alt="image">
                    <p>
                      Rashmi is an energetic character who posses a lot of potential in various field s such as creative
                      writing and public speaking. With her great communication skills, she has always become a valuable
                      asset to the team especially when delivering cool ideas to public/rest of the world. Her, being
                      someone who is willing to embrace challenges has always contributed to the betterment of the team
                      and company.
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <!-- Dilushi Tooltip -->
            <div class="modal fade service-modal" id="dilushiModal" tabindex="1" role="dialog" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h4 class="modal-title">Dilushi Rathnayake</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                  </div>
                  <div class="modal-body">
                    <img src="../assets/Team/Dilushi.jpg" class="img-responsive" alt="image">
                    <p>
                      Dilushi is an individual you can always rely on. Apart from being a fast paced learner, she is
                      also and enthusiastic data analyser and is charge of data analysing of the projects carried out by
                      the team.
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <!-- Nethmee Tooltip -->
            <div class="modal fade service-modal" id="nethmeeModal" tabindex="1" role="dialog" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h4 class="modal-title">Nethmee Sellahewa</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                  </div>
                  <div class="modal-body">
                    <img src="../assets/Team/nethmee3.jpg" class="img-responsive" alt="image">
                    <p>
                      Nethmee is the artist of the team. A bubbly personality with a constant driving force that screams
                      'work , work , work' in the back of her mind. She is dedicated and eagerly looks into the matters
                      that require immediate attention, not forgetting to conduct proper research to gather every piece
                      of information necessary.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--Contact-->
  <section id="contact" class="contact">
    <section id="contact" class="section-bg wow fadeInUp">
      <div class="container">
        <div class="section-header">
          <h3>Contact Us</h3>
        </div>
        <div class="row contact-info">
          <div class="col-md-6">
            <div class="contact-phone">
              <i class="fa fa-phone"></i>
              <h3>Contact Number</h3>
              <p><a href="">Nethmi : +94 76 903 0880</a></p>
              <br />
              <p><a href="">Nethmee : +94 76 903 0880</a></p>
            </div>
          </div>
          <div class="col-md-6">
            <div class="contact-email">
              <i class="fa fa-envelope"></i>
              <h3>Email</h3>
              <p><a href="erised.works@gmail.com">erised.works@gmail.com</a></p>
            </div>
          </div>
        </div>
      </div>
    </section>
  </section>
  <!--footer-->
  <footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row justify-content-between">
          <div class="col-lg-5 col-md-6 footer-info">
            <h3>Erised Works</h3>
            <p>
              Cras fermentum odio eu feugiat lide par naso tierra. Justo eget
              nada terra videa magna derita valies darta donna mare fermentum
              iaculis eu non diam phasellus. Scelerisque felis imperdiet proin
              fermentum leo. Amet volutpat consequat mauris nunc congue.
            </p>
          </div>

          <div class="col-lg-3 col-md-6 footer-contact">
            <h4>Connect With Us</h4>
            <!-- <p>
                A108 Adam Street <br />
                New York, NY 535022<br />
                United States <br />
                <strong>Phone:</strong> +1 5589 55488 55<br />
                <strong>Email:</strong> info@example.com<br />
              </p> -->

            <div class="social-links">
              <a href="#" class="agile_linkedin"><i class="fab fa-facebook-f"></i></a>
              <a href="#" class="agile_linkedin"><i class="fab fa-linkedin-in"></i></a>
              <a href="#" class="agile_linkedin"><i class="fab fa-instagram"></i></a>
            </div>
          </div>

        </div>
      </div>
    </div>

    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong>Erised Works</strong>. All Rights Reserved.
      </div>
    </div>
  </footer>
</body>